// Colors
$background-color: #fdfdfd;
$primary-text-color: #0a0a0a;
$secondary-text-color: #0a0a0aa1;
$icon-color: rgb(209, 209, 209);
$accent-color: #fdfdfd;
$border-color: #1789e14e;
$option-color: #fff;
$button: #3499de;
$button-text-color: #fff;
$button-hover: #349adede;
$button-border: #ffffff4e;

// Typography
$font-sm: 14.5px;
$font-base: 16px;
$font-md: 18px;
$font-large: 20px;
$font-xl: 24px;

// Spacing
$gap-xs: 4px;
$gap-small: 8px;
$gap-base: 10px;
$gap-md: 20px;

// Borders
$radius-sm: 5px;
$radius-base: 12px;

// Breakpoints
$breakpoint-mobile: 600px;
