@use "../styles/abstracts/variables" as v;
@use "../styles/abstracts/mixins" as m;
@use "../styles/components/button";

.page {
  min-height: 100vh;
  font-family: var(--font-geist-sans);
  padding: 1rem;
  margin-top: 50px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgb(187, 187, 187);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;
  margin: 0 auto;
  
  &__left_section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    gap: 5px;
    
    .icon {
      color: v.$button;
      margin-bottom: 2px;
    }
    
    .text {
      font-size: v.$font-md;
    }
  }

  &__right_section {
    text-align: center;
    color: v.$secondary-text-color;
    font-size: 0.9rem;  
    a {
      color: v.$button;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.main {
  @include m.flex-row;
  gap: v.$gap-base;

  @media (max-width: v.$breakpoint-mobile) {
    @include m.flex-column;
  }
}

.form_section {
  @include m.base;
  display: flex;
  flex-direction: column;
  gap: v.$gap-base;

  @media (max-width: v.$breakpoint-mobile) {
    width: 100%;
    min-height: fit-content;
    padding: 15px;
  }

  .title {
    font-size: v.$font-md;
    letter-spacing: 0.01rem;
    margin-bottom: 16px;

    > span {
      font-size: 15px;
      color: v.$secondary-text-color;
    }
  }
}

.recipe_section {
  @include m.base;
  display: flex;
  align-items: center;
  justify-content: center;
  
  @media (max-width: v.$breakpoint-mobile) {
    width: 100%;
    min-height: auto;
  }
}

.option_section {
  @include m.flex(column);
  gap: v.$gap-md;
}

.ingredient_choose {
  @include m.flex(column);
  gap: v.$gap-small;

  .ingredient_input {
    @include m.option-base;
  }
}

.dietary_preference {
  @include m.flex(column);
  gap: v.$gap-small;

  .dietary_select {
    @include m.option-base;
    cursor: pointer;
  }
}

.gen_button {
  @extend .button;
  margin-top: 28px;
}

.placeholder {
  @include m.flex-center($flex-direction:column);
  gap: v.$gap-base;
  color: adjust(v.$primary-text-color, 30%);
  text-align: center;
  height: 100%;
  
  &__icon {
    width: 60px;
    height: 60px;
    color: v.$icon-color;
  }
  
  @media (max-width: v.$breakpoint-mobile) {
    @include m.flex-center;

    &__icon {
      width: 30px;
      height: 25px;
    }
  }
}

.error {
  color: #ff2525;
  padding: v.$gap-base;
  background-color: rgba(255, 37, 37, 0.1);
  border-radius: v.$radius-base;
}
